/* Write your CSS code here. */
.bg-container {
  background: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.card-container {
  width: 650px;
  background-color: #ffffff;
  border-radius: 12px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
h1 {
  text-align: center;
  margin: 10px;
}
.emoji-img {
  width: 45px;
  cursor: pointer;
}
.emojis-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 30px;
}
